<div class="row align-items-center justify-content-center" bis_skin_checked="1">
  <div class="col-md-8 col-lg-6 col-xl-4" bis_skin_checked="1">
    <div class="card" bis_skin_checked="1">

      <div class="card-body p-4" bis_skin_checked="1">
        <div class="text-center mt-2" bis_skin_checked="1">
          <h5 class="text-primary">Добро пожаловать.</h5>
        </div>
        <div class="p-2 mt-4" bis_skin_checked="1">
          <form action="/auth/login" method="post">
            <div class="mb-3" bis_skin_checked="1">
              <label class="form-label" for="username">Имя</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Введите имя пользователя">
            </div>

            <div class="mb-3" bis_skin_checked="1">
              <label class="form-label" for="userpassword">Пароль</label>
              <input type="password" name="password" class="form-control" id="userpassword" placeholder="Введите ваш пароль">
            </div>

            <div class="mt-3 text-end" bis_skin_checked="1">
              <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Войти</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>